<body class="sb-nav-fixed">
    <div id="layoutSidenav_content">
        <main>
            <div class="update">
                <div class="avt">
                    <img src="/admin/img/avt.jpeg" alt="avatar" >
                </div>
                <div class="info">
                    <div>Name:&ensp;{{admin.name}}</div>
                    <div>Date of birth:&ensp;{{admin.dob}}</div>
                    <div>Phone number:&ensp;{{admin.phone}}</div>
                    <div>Day create:&ensp;{{admin.createdAt}}</div>
                </div>
            </div>
        </main>
    </div>
</body>