<body class="sb-nav-fixed">
    <div id="layoutSidenav_content">
        <main>
            <div class="update">
                <div class="avt">
                    <img src="/admin/img/avt.jpeg" alt="avatar" >
                </div>
                <div class="info">
                    <div>Name:{{user_name}}</div>
                    <div>Date of birth:{{user_dob}}</div>
                    <div>Phone number:{{user_phone}}</div>
                    <div>Day create:{{user_createAt}}</div>
                </div>
            </div>
        </main>
    </div>
</body>