<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Books online Shopping cart</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Google Web Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
		rel="stylesheet">
	<!-- Font Awesome -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
	<!-- Libraries Stylesheet -->
	<link href="/customer/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
	<!-- Custom style -->
	<link rel="stylesheet" href="/customers/css/style.css">
	<link rel="stylesheet" href="/customers/css/custom.css">
</head>

<body>
	<div class="app">
		{{>customer-header categories=categories}}

		<div class="container-fluid">
			{{{body}}}
		</div>

		{{>customer-footer}}

	</div>
	<!-- JavaScript Libraries -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	<script src="/customers/lib/easing/easing.min.js"></script>
	<script src="/customers/lib/owlcarousel/owl.carousel.min.js"></script>

	<!-- Contact Javascript File -->
	<script src="/customers/mail/jqBootstrapValidation.min.js"></script>
	<script src="/customers/mail/contact.js"></script>

	<!-- Template Javascript -->
	<script src="/customers/js/main.js"></script>

	<script src="/customers/js/pagination.js"></script>

	<script>
		const validateEmail = (email) => {
			return email.match(
				/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
			);
		};

		const validate = () => {
			const $result = $('#result');
			const email = $('#email').val();
			$result.text('');

			if (validateEmail(email)) {
				$result.text('   ' + email + ' is valid');
				$result.css('color', 'green');
			} else {
				$result.text('   ' + email + ' is not valid');
				$result.css('color', 'red');
			}

			email?$result.removeClass('d-none'):$result.addClass('d-none');
			
			return false;
		}

		$('#email').on('input', validate);
	</script>
</body>

</html>